.page-title {
	display: none;
}

.footer-contattaci p{
	font-size: 28px !important;
	font-weight: 700 !important;
	color: #fff !important;
	margin-left: 63px;
}

.address_info_footer p{
	font-size: 16px !important;
	font-weight: 400 !important;
	color: #fff !important;
	margin-left: 10px;
}

@media screen and (max-width:800px){
	.mk-footer-copyright{

		flex-direction: column;
		align-items: center;
		justify-content: space-around;

	}
	
	.mk-footer-copyright div{
		margin-bottom:12px !important;
	}
}

@media screen and (max-width:1140px){
	.image-right-for-header {
		display: none !important;
	}
	.burger-full-v1{
		margin-right:0px !important;
	}

	
}

@media screen and (max-width:1441px){
	.title_w2 {
		padding-left: 10% !important;
		padding-right: 10% !important;
		font-size: 20px !important;

	}
}


@media screen and (max-width:768px){
	

	
	/*Remove last item from menu*/

	#mk-theme-container .burger-full-v1,#mk-theme-container .burger-full-v1 *{
		all:unset;
		display:none !important;
		margin:0px !important;
	}
	
	
	.vc_images_carousel .vc_carousel-control.vc_left {
		background: linear-gradient(-90deg, #fff0, #1d4082b3);
	}
	
	.vc_images_carousel .vc_carousel-control.vc_right {
		background: linear-gradient(90deg, #fff0, #1d4082b3);
	}

	#contatti_switcher ul {
		display: inline-block !important;
		margin-left: 0px;
	}

	.custom_cols_w1 .wpb_column {
		margin: 35px 0px !important;
	}

	.custom_cols_w1 {
		padding: 0 2em !important;
		display: flex !important;
		flex-direction: column-reverse !important;
		align-items: center;
	}
	.custom_cols_w2 {
		padding: 0px !important;
	}
	.custom_cols_w1 {
		padding: 0 37px !important;
	}
	
	.vc_column_container>.vc_column-inner {
		padding:0px !important;
	}

	.scopri1 {
	    display: inline !important;
	}

	.s2,.s3,.s4{
		margin-top: -10em !important;
	}

	.s1,.s2, .s3, .s4 {
	    left: 0px !important;
	    top: 0px !important;
	    padding: 0px 2em !important;
	}

	.escursioni_img_w1,.spiagge_img_w1,.attrazioni_img_w1,.neidintorni_img_w1{
		background-position: center 0% !important;
	    background-size: cover !important;
	    width: auto;
	    height: 400px;
	}
	
	.web-meteo-row1{
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		flex-direction: column;
		width: 100% !important;
		padding: 20px !important;
	}


	
	.web-meteo-row1 .wpb_column{
		padding:0px !important;
		margin:0px !important;
		width: 100%;
	}


}
.mk-header-nav-container {
    background-color: transparent;
}

@media screen and (min-width:1141px) and (max-width:1468px){
	.mk-header-nav-container {
    background-color: transparent;
}

/*	li#menu-item-48, li#menu-item-1051 {
    display: none;
}*/
/*OLD*/
/*.header-style-1.header-align-left .mk-header-nav-container {
    margin: unset;
    right: 0px;
    left: 8%;
	top: 10px;
}


#menu-item-203 > ul.sub-menu , #menu-item-39 > ul.sub-menu {
  
	left: -42%;
	width: 100vw;
    padding: 0px 0;
    top: 113px;
}

.megamenu-widgets-container,
ul#menu-rosolina-menu-1  {
    transform: scale(0.8);
}
	
	*/
	
#menu-rosolina-menu-1 > li:nth-child(2) > ul > li:first-child, #menu-menu-en-1 > li:nth-child(2) > ul > li:first-child, #menu-menu-de-1 > li:nth-child(2) > ul > li:first-child {
    transform: scale(0.8);
    width: 40vw !important;
    padding-left: 2em !important;
}
#menu-rosolina-menu-1 > li:nth-child(3) > ul > li:first-child, #menu-menu-en-1 > li:nth-child(3) > ul > li:first-child, #menu-menu-de-1 > li:nth-child(3) > ul > li:first-child{
	transform: scale(0.8);
	width: 53vw !important;
    padding-left: 2em !important;	
	padding-right: 5vw !important;
}
	

.has-mega-menu > ul.sub-menu > li > ul.sub-menu {
    display: block;
    transform: scale(0.7);
    padding-top: 41px;
}

}
  
	
@media screen and (max-width: 1468px) and (min-width: 1035px){
	.escursioni_img_w1, .spiagge_img_w1, .attrazioni_img_w1, .neidintorni_img_w1 {
		background-position: center 0% !important;
		background-size: 30em !important;
		width: auto;
		height: 35em;
		min-height: 300px;
		background-repeat: no-repeat;
	}
}


@media screen and (min-width: 1468px){
	.escursioni_img_w1, .spiagge_img_w1, .attrazioni_img_w1, .neidintorni_img_w1 {
		background-position: center 0% !important;
		background-size: 32em!important;
		background-repeat: no-repeat;
		width: auto;
		min-height: 47em;

	}
}


@media screen and (min-width:768px) and (max-width:1035px){

	.escursioni_img_w1, .spiagge_img_w1, .attrazioni_img_w1, .neidintorni_img_w1 {
		background-position: center 0% !important;
		background-size: 28em !important;
		width: auto;
		min-height: 24em;
		height: 33em;
		background-repeat: no-repeat;
	}
}

@media screen and (min-width:767px) and (max-width:1175px){

	.custom_cols_w1 .wpb_column {
    	margin: 25px 5px !important;
	}
    

}


@media screen and (max-width:1175px){

	/*23.12.2019*/
	.custom_cols_w1 .custom_text_w1, .custom_text_w1 {
		flex-direction: column;
		padding: 25px 25px 0px 25px !important;
	}
	
	.custom_text_w1 p {
		margin-left: 0em !important;
	}
	
	.custom_cols_w1 .mk-text-block:not(.title-box1):not(h2) {
		padding: 40px 25px !important;
	}
	
	
	
	/*-*/
    

}



@media screen and (min-width:768px) and (max-width:1918px){
	.custom_cols_responsive_w1{
		display: inline-flex;
	}
}




@media screen and (max-width: 1845px) {
	li#menu-item-62,
	li#menu-item-62 a:hover {
    display: none;
	}
}


@media screen and (max-width: 1500px) {
	.dove {
		width: auto !important;
	}
}


@media screen and (max-width: 1224px) {
	.ufficio, .conctact1 {
		height: 0;
	    margin-bottom: 20px;
	}
}


@media screen and (max-width: 650px) {
	.content_form .row {
     display: block; 
	}

	form.wpcf7-form.wpcf7-acceptance-as-validation {
	    margin-left: -60px;
	    width: 100%;
	}

	.footer-contattaci p{
    	margin-left: 0 !important;
	}
	
}


@media screen and (max-width: 425px) {
	.scopri h2 {
	    margin-bottom: 25px;
	}

}

@media screen and (max-width: 350px) {
	.scopri h2 {
	    margin-left: -35px;
	    margin-bottom: -60px;
	}
}

.nav_close_w1
	{
		display:block !important;
	}


	.custom_nav_blurred_w1 .escursioni_img,.custom_nav_blurred_w1 .spiagge_img,.custom_nav_blurred_w1 .attrazioni_img,.custom_nav_blurred_w1 .img_dintorni,.custom_nav_blurred_w1 .img-alberghi,.custom_nav_blurred_w1 .img-campeggi,.custom_nav_blurred_w1 .img-agenzie{
		display:none !important;
	}
	
		
	/*Responsive 16.12.2019*/
	
	/*Remove first item from submenu for each*/
	.custom_nav_blurred_w1 .menu-item-type-post_type.menu-item-object-page .sub-menu > li:first-child {
		display: none;
	}

	.custom_nav_blurred_w1 ul.sub-menu.submenu-languages, .js-main-nav .dropdownJavascript li.menu-item-language:hover > ul.sub-menu {
		display: block;
		height: auto;
		width: 100%;
	}

@media handheld, only screen and (max-width: 1140px){
	

	
}





/*Burger menu hide*/
@media screen and (min-width:1821px){
	html[lang="en-US"] .burger-full-v1{
		display:none;
	}
	

}
@media screen and (min-width:1621px){
	html[lang="it-IT"] .burger-full-v1{
		display:none;
	}
}
@media screen and (min-width:2000px){
	html[lang="de-DE"] .burger-full-v1{
		display:none;
	}
}

/*Deutsch*/
@media screen and (max-width:1960px){
	#menu-menu-de-1 > li:nth-last-child(1){
		display:none;
	}
}

@media screen and (min-width:1911px){
	.custom_nav_blurred_w1 #menu-menu-de > li:not(:last-child){
		display:none;
	}
}

@media screen and (max-width:1910px){
	#menu-menu-de-1 > li:nth-last-child(2){
		display:none;
	}
}

@media screen and (min-width:1696px){
	.custom_nav_blurred_w1 #menu-menu-de > li:not(:nth-last-child(-n+2)){
		display:none;
	}
}

@media screen and (max-width:1695px){
	#menu-menu-de-1 > li:nth-last-child(3){
		display:none;
	}
}

@media screen and (min-width:1346px){
	.custom_nav_blurred_w1 #menu-menu-de > li:not(:nth-last-child(-n+3)){
		display:none;
	}
}

@media screen and (max-width:1345px){
	#menu-menu-de-1 > li:nth-last-child(4){
		display:none;
	}
}

@media screen and (max-width:1140px){
	#menu-menu-de-1 > li{
		display:none;
	}
}

@media screen and (min-width:1141px){
	.custom_nav_blurred_w1 #menu-menu-de > li:nth-child(-n+2){
		display:none;
	}
}



/*English*/
@media screen and (max-width:1820px){
	#menu-menu-en-1 > li:nth-last-child(1){
		display:none;
	}
}

@media screen and (min-width:1701px){
	.custom_nav_blurred_w1 #menu-menu-en > li:not(:last-child){
		display:none;
	}
}

@media screen and (max-width:1700px){
	#menu-menu-en-1 > li:nth-last-child(2){
		display:none;
	}
}

@media screen and (min-width:1700px){
	.custom_nav_blurred_w1 #menu-menu-en > li:not(:nth-last-child(-n+2)){
		display:none;
	}
}

@media screen and (max-width:1480px){
	#menu-menu-en-1 > li:nth-last-child(3){
		display:none;
	}
}

@media screen and (min-width:1276px){
	.custom_nav_blurred_w1 #menu-menu-en > li:not(:nth-last-child(-n+4)){
		display:none;
	}
}

@media screen and (max-width:1275px){
	#menu-menu-en-1 > li:nth-last-child(4){
		display:none;
	}
}

@media screen and (min-width:1141px){
	.custom_nav_blurred_w1 #menu-menu-en > li:nth-child(-n+2){
		display:none;
	}
}

@media screen and (max-width:1140px){
	#menu-menu-en-1 > li{
		display:none;
	}
}

/*Italian*/
@media screen and (max-width:1620px){
	#menu-rosolina-menu-1 > li:nth-last-child(1){
		display:none;
	}
}

@media screen and (min-width:1491px){
	.custom_nav_blurred_w1 #menu-rosolina-menu > li:not(:last-child){
		display:none;
	}
}
/**/

@media screen and (max-width:1490px){
	#menu-rosolina-menu-1 > li:nth-last-child(2){
		display:none;
	}
}

@media screen and (min-width:1306px){
	.custom_nav_blurred_w1 #menu-rosolina-menu > li:not(:nth-last-child(-n+2)){
		display:none;
	}
}

@media screen and (max-width:1305px){
	#menu-rosolina-menu-1 > li:nth-last-child(3){
		display:none;
	}
}

@media screen and (max-width:1141px){
	#menu-rosolina-menu-1 > li{
		display:none;
	}
}





























/*END*/
